.marqueeSlide {
  overflow: hidden;
  .viewport {
    min-width: $min-page-content-width ;
    width: 100%;
    max-width: $max-page-content-width;
    margin: 0 auto;
    position: relative;
    @include box-size();
    &:before, &:after {
      display: block;
      content: " ";
      top: 0;
      bottom: 0;
      width: 9999px;
      position: absolute;
      z-index: 3;
      @include opacity(.6);
      background: #494949;
    }
    &:before {
      left: -9999px;
      @include crossTransition(left 0.45s ease-out);
    }
    &:after {
      right: -9999px;
      @include crossTransition(right 0.45s ease-out);
    }
  }
  .photo-list {
    position: relative;
    width: 500%;
    left:0;
  }
  .slide {
    max-height: $max-slide-height;
    display: block;
    left:100%;
    position: absolute;
    width: 20%;
    z-index: 1;
    top:0;
    overflow: hidden;
    background: transparent no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    img {
      display:block;
      height: auto;
      @include opacity(0);
      position: relative;
      z-index: 2;
    }
  }
  .caption {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    text-indent: -9999px;
  }
  .caption-bar .caption {
    padding-top: 12px;
    position: static;
    text-indent: 0;
    color: $caption-color;
    font-size: 12px;
    text-align: center;
  }
  .active {
    left:0;
    z-index: 2;
  }
  .next {
    left: 20%
  }
  .next-alt {
    left: 40%;
  }
  .prev {
    left: -20%
  }
  .prev-alt {
    left: -40%;
  }
  .sandbag {
    @include opacity(0);
    left:0;
    position:static;
    width:100%;
    img{
      position:static;
    }
  }
  .nav-bar {
    position: absolute;
    z-index: 5;
    top:50%;
    margin-top: -35px;
    width: 100%;
  }
  .slide-nav-prev,
  .slide-nav-next {
    position: absolute;
    background: url($rootPath+'img/photo-marquee-arrows.png') 0 0 no-repeat;
    overflow: hidden;
    display:block;
    width: 41px;
    height: 73px;
    border:none;
    text-indent: -9999px;
    &:hover { cursor: pointer; }
  }
  .slide-nav-prev { left:0; }
  .slide-nav-next {
    right: 0;
    background-position: -41px 0;
  }
  .slide-nav-prev:hover { background-position: 0 -73px; }
  .slide-nav-next:hover { background-position: -41px -73px; }
}

@media only screen and (max-width: $max-page-content-width - 1) {
  .marqueeSlide {
    .viewport {
      padding:0 10px;
      &:before {
        left: -9989px;
      }
      &:after {
        right: -9989px;
      }
    }
    .slide-nav-next { right: 20px; }
  }
}


.lt-ie9 .marqueeSlide {
  .slide {
    background: #333;
    background-image: none;
   img{
      @include opacity(1);
      /* Set rules to fill background */
      min-height: 100%;
      min-width: 100%;

      /* Set up proportionate scaling */
      width: 100%;
      height: auto;

      /* Set up positioning */
      position: static;
      top: 0;
      left: 0;
    }
  }
}

.no-js {
  .nav-bar { display: none; }
  .active {
    position: static;
  }
}
